<form class="quick-roll-prompt__form" autocomplete="off">
  <label class="quick-roll-prompt__label" for="quick-roll-input">
    Enter a quick roll command
  </label>
  <input
    id="quick-roll-input"
    name="quick-roll-input"
    class="quick-roll-prompt__input"
    type="text"
    placeholder="1d20+10"
    autofocus
  />
</form>
